@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "League";
  src: url(../src/assets/fonts/League.otf) format("opentype");
}

@theme {
  --font-league: League, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-golden: oklch(0.7509 0.0856 83.92)
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-family: var(--font-league);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}